@use "variables";

@mixin m-headline-font {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: variables.$pink-font;
}

@mixin headline-font {
  font-family: baskerville-display-pt, serif;
  font-weight: 400;
  font-style: normal;
  color: variables.$headline;
}

@mixin flex-r {
  display: flex;
  flex-direction: row;
}

@mixin flex-c {
  display: flex;
  flex-direction: column;
}

@mixin desktop() {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin ipad {
  @media screen and (min-width: 640px) {
    @content;
  }
}
